<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!auth.token" [href]="loginURL">
        <ion-title>Log In</ion-title>
      </ion-button>
      <ion-button *ngIf="auth.token" (click)="auth.logout()">
        <ion-title>Log Out</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="User page"></app-explore-container>
  <ion-item>
    <ion-label>Active JWT</ion-label>
    <ion-textarea [ngModel]="auth.token" name="Active JWT"></ion-textarea>
  </ion-item>
</ion-content>
